[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-vapid = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
pywebpush = "*"
django-cors-headers = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
